/* body and all related elements */

body {
    background-attachment: fixed;
    background-image: url(../media/ian-dooley-DJ7bWa-Gwks-unsplash.jpg);
    color: white;
}

button:focus {
    outline: none;
}

/* Nav Page */

.navBar {
    padding-top: 10px;
    height: 80px;
    background: #432818;
    font-family: Courgette;
    z-index: 2;
}

.navBar ul {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    line-height: 3;
}

.navBar li {
    padding: 0px 25px;
    font-size: 20px;
    display: inline;
}

.navBar a {
    color: white;
}

.navBar .home {
    font-size: 25px;
    line-height: 2.5;
}

.shift {
    text-align: right;
}

/* ---------------------------------------------------- */

/* Main Page */

/* --All Titles */

.title {
    padding: 30px;
    border-bottom: 3px solid white;
    font-family: Kaushan;
    font-size: 45px;
    text-align: center;
    text-transform: capitalize;
}

.profile {
    margin-top: 20px;
    padding-bottom: 7%;
}

/* --profile */
.heroTitle .title {
    margin: 0px;
    padding: 75px 0px;
    background: none;
    border: none;
    font-size: 55px;
}

.profileBG {
    margin: 0px;
    height: 400px;
    background: rgb(0, 0, 0, 0.8);
    animation-name: swoosh;
    animation-duration: 2s;
    animation-delay: 1.4s;
    animation-fill-mode: forwards;
    width: 0%;
    opacity: 0;
}

/* Profile BG Animation */
@keyframes swoosh {
    100% {
        width: 100%;
        opacity: 1;
    }
}

.profilePic {
    position: absolute;
    top: -18px;
    right: -94%;
    height: auto;
    width: 62%;
    border-radius: 20px;
    animation-name: fade-in;
    animation-duration: 1.2s;
    animation-delay: 4.4s;
    animation-fill-mode: forwards;
    opacity: 0;
}

.intro {
    position: absolute;
    padding: 6% 0%;
    font-size: 25px;
    font-family: SSProReg;
    animation-name: fade-in;
    animation-duration: 1.2s;
    animation-delay: 3.5s;
    animation-fill-mode: forwards;
    opacity: 0;
}

/* Profile Image Animation */
@keyframes fade-in {
    100% {        
        opacity: 1;
    }
}

/* --project section */

.projects {
    margin-top: 10%;
    padding: 2% 0% 5%;
    background: rgb(0, 0, 0, 0.8);
    text-align: center;
}

.projects h3 {
    margin: 5px 0px;
    padding: 20px;
    background:#432818;
    border-radius: 10px;
    font-size: 25px;
    font-family: SSProReg;
}

.projects .slots {
    padding: 8% 0% 6%;
    overflow: hidden;
}

/*for slide animation*/
.sliding {
    animation-name: slide;
    animation-duration: 2.5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

/*for slide animation*/
@keyframes slide {
    40% {
        transform: translateX(-1170px);
        opacity: 0;
    }

    90% {
        transform: translateX(0px);
        opacity: 1;
    }
}

.projects img {
    height: 300px;
    width: 100%;
}

.projects ul {
    margin-top: 20px;
    padding: 0px;
    list-style-type: none;
}

.projects li {
    display: inline;
}

.projects a {
    padding: 18px 36px;
    background: white;
    border-radius: 10px;
    color: black;
    font-size: 20px;
}

.projects a:hover {
    background: #99582A;
    color: white;
    text-decoration: none;
}

.projects a:hover {
    text-decoration: none;
}

.projects .bdb {
    padding: 20px 0px;
    background: #99582A;
    border-radius: 50px;
    font-family: Courgette;
    font-size: 35px;
}

.bdb li {
    background: none;
}

.bdb button {
    background: none;
    border: none;
    color: #432818;
}

.bdb button:hover {
    color: white;
}

/* --Certificates section */

.certificates {
    margin: 10% 0%;
    padding: 2% 0% 8%;
    background: rgb(0, 0, 0, 0.8);
}

.certificates .title {
    margin-bottom: 70px;
}

.certificates img {
    height: 550px;
    width: 90%;
    border: 15px solid #6d412a;
}

.certificates ul {
    position: absolute;
    left: 40%;
    bottom: 20px;
    list-style-type: none;
}

.certificates li {
    display: inline;
}

.certificates button {
    height: 30px;
    width: 30px;
    border: none;
    border-radius: 50%;
    background: #9E9A97;
}

.certificates button:hover {
    background: #99582A;
}

/* Footer */

.footer  {
    padding: 50px 0px;
    background: #432818;
    color: white;
    font-family: 'Courgette';
    font-size: 13px;
}

.footer h4 {
    font-size: 30px;
}

.footer ul {
    padding: 0px;
    font-family: SSProReg;
    list-style-type: none;
}

.footer p {
    padding-left: 15px;
    font-size: 15px;
    display: inline;
}

.footer a {
    color: white;
}

.footer a:hover {
    text-decoration: none;
    text-shadow: 1px 1px 5px black;
}

.fab {
    width: 13px;
}

.footer .push {
    text-align: right;
    font-size: 35px;
}

.footerBG .fa-arrow-circle-up {
    font-size: 40px;
    text-align: right;
}

/* media queries */

@media (max-width: 475px) {

    /* Nav */

    .home {
        display: none;
    }

    .shift {
        text-align: center;
    }

    .navBar li{
        padding: 0px 40px;
    }

    /* Top Main */

    .profile {
        margin-top: 0px;
    }

    .heroTitle .title {
        font-size: 35px;
        margin-bottom: 35px;
    }

    .profileBG {
        height: 350px;
    }

    .intro {
        padding: 10% 6%;
        font-size: 20px;
        width: 100%;
        text-shadow: 2px -2px 2px black;
    }
    
    .profilePic {
        display: none;
    }
    
    /* Projects */

    .projects {
        margin-top: 10%;
    }

    .slotB {
        display: none;
    }

    .slotC {
        display: none;
    }

    .projects a {
        padding: 18px 50px;
    }

    .projects ul {
        margin-top: 30px;
    }

    .projects .bdb {
        padding: 15px 0px;
        font-size: 25px;
    }

    /* Certificates */

    .certificates ul {
        left: 25%;
    }

    .certificates img {
        height: 400px;
    }

    /* Footer */ 
    .footer p {
        font-size: 13px;
    }

    .footer h4 {
        font-size: 20px;
    }

    .footer .fas {
        display: none;
    }
}

@media (min-width: 476px) and (max-width: 768px) {

    /* Hero */

    .heroTitle .title {
        font-size: 50px;
    }


    /* Top Main */

    .intro { 
        padding: 12% 3%;
        width: 65%;
        font-size: 20px;
    }

    .profilePic {
        top: 70px;
    }

    /* Projects */

    .projects {
        padding: 2% 0% 6%;
    }

    .projects a {
        padding: 18px 35px;
    }

    .slotC {
        display: none;
    }

    .projects .bdb {
        padding: 15px 0px;
    }

    /* Certificates */

    .certificates ul {
        left: 33%;
    }

    /* Footer */

    .footer p {
       padding-left: 10px;
    }

    .push {
        font-size: 35px;
    }
}


